<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRYSimpleWcfService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/RYWcfService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRYSimpleWcfService"
                contract="RYWCF.IRYSimpleWcfService" name="BasicHttpBinding_IRYSimpleWcfService" />
        </client>
    </system.serviceModel>
</configuration>